@import url("https://fonts.cdnfonts.com/css/general-sans");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background: #010103;
  font-family: "General Sans", sans-serif;
}

@layer utilities {
  .c-space {
    @apply sm:px-10 px-5;
  }

  .head-text {
    @apply sm:text-4xl text-3xl font-semibold text-gray_gradient;
  }

  .nav-ul {
    @apply flex flex-col items-center gap-4 sm:flex-row md:gap-6 relative z-20;
  }

  .nav-li {
    @apply text-neutral-400 hover:text-white font-generalsans max-sm:hover:bg-black-500 max-sm:w-full max-sm:rounded-md py-2 max-sm:px-5;
  }

  .nav-li_a {
    @apply text-lg md:text-base hover:text-white transition-colors;
  }

  .nav-sidebar {
    @apply absolute left-0 right-0 bg-black-200 backdrop-blur-sm transition-all duration-300 ease-in-out overflow-hidden z-20 mx-auto sm:hidden block;
  }

  .text-gray_gradient {
    @apply bg-gradient-to-r from-[#BEC1CF] from-60% via-[#D5D8EA] via-60% to-[#D5D8EA] to-100% bg-clip-text text-transparent;
  }

  /* button component */
  .btn {
    @apply flex gap-4 items-center justify-center cursor-pointer p-3 rounded-md bg-black-300  transition-all duration-300 active:scale-95 text-white mx-auto;
  }

  .btn-ping {
    @apply animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75;
  }

  .btn-ping_dot {
    @apply relative inline-flex rounded-full h-3 w-3 bg-green-500;
  }

  .section-padding {
    @apply px-5 md:px-10 md:mt-40 mt-20;
  }

  .hero-badge {
    @apply flex items-center content-center gap-2 py-2 px-4 rounded-full w-fit text-sm md:text-base text-nowrap;
    background: #282732;

    box-shadow: 0px 1px 2px 0px rgba(38, 68, 98, 0.06),
      0px 20px 32px -12px rgba(12, 37, 62, 0.08);
    backdrop-filter: blur(10px);
  }

  /* hero section */
  .hero_tag {
    @apply text-center xl:text-3xl md:text-3xl sm:text-2xl text-xl font-generalsans font-black !leading-normal;
  }

  .text-gray-gradient {
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.25);
    background: linear-gradient(
      0deg,
      rgba(190, 193, 207, 0.64) 0%,
      rgba(213, 216, 234, 0.89) 88.24%,
      #dfe2f5 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bg-gray-gradient {
    background: linear-gradient(
      0deg,
      rgba(190, 193, 207, 0.9) 0%,
      rgba(213, 216, 234, 0.9) 88.24%,
      #dfe2f5 100%
    );
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.25);
  }

  .hero-layout {
    @apply flex flex-col justify-center  relative z-10 pointer-events-none;
    img {
      @apply size-8 md:size-10 object-contain;
    }
    .slide {
      @apply absolute pt-0 px-2 md:px-5 h-[36px] md:h-[50px] md:translate-y-1 translate-y-0 overflow-hidden;
    }
  }
  .slide {
    display: inline-block;
    flex-direction: column;
    transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    animation: wordSlider 21s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99);
  }

  @keyframes wordSlider {
    0% {
      transform: translateY(0.5%);
    }
    12.5% {
      transform: translateY(-12.5%);
    }
    25% {
      transform: translateY(-25%);
    }
    37.5% {
      transform: translateY(-37.5%);
    }
    50% {
      transform: translateY(-50%);
    }
    62.5% {
      transform: translateY(-62.5%);
    }
    75% {
      transform: translateY(-75%);
    }
    87.5% {
      transform: translateY(-87.5%);
    }
  }

  /* about section */
  .grid-container {
    @apply border border-black-300 bg-black-200 rounded-lg sm:p-7 p-4 flex flex-col gap-5;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    margin: 1px;
  }

  .grid:has(.grid-container) {
    & > div {
      @apply rounded-lg;
    }

    &:hover > div {
      background: radial-gradient(
        circle 700px at var(--mouse-x) var(--mouse-y),
        hsl(0 0% 100%),
        rgba(255, 255, 255, 0.12) 40%
      );
    }
  }

  .grid-headtext {
    @apply text-xl font-semibold mb-2 text-white font-generalsans;
  }

  .grid-subtext {
    @apply text-[#afb0b6] text-base font-generalsans;
  }

  .copy-container {
    @apply cursor-pointer flex justify-center items-center gap-2;
  }

  /* feature cards section */

  .feature-card {
    border: 1px solid #1c1c21;
    background: #0e0e10;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      width: 25%;
      height: 45%;
      opacity: 1;
      background-image: radial-gradient(
        var(--theme-color) 40%,
        transparent 60%
      );
      animation-delay: var(--animation-delay);
      z-index: 0;
      animation-name: border-animation;
      animation-duration: 15s;
      animation-iteration-count: infinite;
    }
  }
  @keyframes border-animation {
    0% {
      transform: translate(-50%, -50%);
    }
    25% {
      transform: translate(370%, -50%);
    }
    50% {
      transform: translate(370%, 190%);
    }
    75% {
      transform: translate(-50%, 190%);
    }
    100% {
      transform: translate(-50%, -50%);
    }
  }

  /* @keyframes border-animation {
    0% {
      transform: scale(0.5);
      top: -10%;
      inset-inline-start: 0%;
    }
    5% {
      transform: scale(1);
      top: -10%;
      inset-inline-start: 25%;
    }
    10% {
      transform: scale(0.5);
      top: -10%;
      inset-inline-start: 50%;
    }
    15% {
      transform: scale(1);
      top: -10%;
      inset-inline-start: 75%;
    }
    20% {
      transform: scale(0.5);
      top: -10%;
      inset-inline-start: 90%;
    }
    25% {
      transform: scale(1);
      top: 0%;
      inset-inline-start: 90%;
    }
    30% {
      transform: scale(0.5);
      top: 25%;
      inset-inline-start: 90%;
    }
    35% {
      transform: scale(1);
      top: 50%;
      inset-inline-start: 90%;
    }
    40% {
      transform: scale(0.5);
      top: 75%;
      inset-inline-start: 90%;
    }
    45% {
      transform: scale(1);
      top: 90%;
      inset-inline-start: 90%;
    }
    50% {
      transform: scale(0.5);
      top: 80%;
      inset-inline-start: 75%;
    }
    55% {
      transform: scale(1);
      top: 80%;
      inset-inline-start: 50%;
    }
    60% {
      transform: scale(0.5);
      top: 80%;
      inset-inline-start: 25%;
    }
    65% {
      transform: scale(1);
      top: 80%;
      inset-inline-start: 10%;
    }
    70% {
      transform: scale(0.5);
      top: 80%;
      inset-inline-start: -10%;
    }
    75% {
      transform: scale(1);
      top: 75%;
      inset-inline-start: -10%;
    }
    80% {
      transform: scale(0.5);
      top: 50%;
      inset-inline-start: -10%;
    }
    85% {
      transform: scale(1);
      top: 25%;
      inset-inline-start: -10%;
    }
    90% {
      transform: scale(0.5);
      top: 10%;
      inset-inline-start: -10%;
    }
    95% {
      transform: scale(1);
      top: -10%;
      inset-inline-start: -10%;
    }
    100% {
      transform: scale(0.5);
      top: -10%;
      inset-inline-start: 0%;
    }
  } */

  .card-border {
    @apply flex flex-col items-start p-6 gap-4;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    margin: 1px;
    backdrop-filter: blur(25px);
    background-color: rgba(14, 14, 16, 0.85);
    z-index: 2;
  }

  /* work experience section */

  .timeline-wrapper {
    @apply absolute top-0  md:left-10 left-5 h-full flex justify-center;
  }

  .timeline {
    @apply absolute z-30 h-[110%] -top-10 w-14 md:w-28;

    background-color: #010103;
  }

  .timeline-logo {
    @apply md:size-20 size-10 flex-none rounded-full flex justify-center items-center border border-black-100 bg-black-100;
  }

  .exp-card-wrapper {
    @apply flex flex-col-reverse xl:flex-row xl:gap-20 gap-10 justify-between;
  }
  .gradient-line {
    width: 2px;
    background: linear-gradient(
      0deg,
      rgba(69, 222, 196, 0) 0%,
      #62e0ff 25%,
      #52aeff 37.51%,
      #fd5c79 62.83%,
      #6d45ce 92.91%
    );
  }

  .gradient-edge {
    @apply w-36 h-full absolute bottom-0 z-20;
  }

  .tech-card {
    @apply relative;
  }

  .tech-card-animated-bg {
    @apply absolute left-0 bottom-[-100%] w-full h-full bg-[#2D3240] group-hover:bottom-0 transition-all duration-700;
  }

  .tech-card-content {
    @apply w-full flex flex-col md:justify-center items-center xl:gap-5 xl:h-[50vh] overflow-hidden relative z-10 group-hover:cursor-grab;

    & p {
      @apply text-lg 2xl:text-xl pb-5 xl:pb-0 font-semibold text-white text-center;
    }
  }

  .tech-icon-wrapper {
    @apply flex justify-center items-center w-52 h-48 relative;
  }

  /* projects section  */
  .arrow-btn {
    @apply w-10 h-10 p-3 cursor-pointer active:scale-95 transition-all rounded-full arrow-gradient;
  }

  .tech-logo {
    @apply w-10 h-10 rounded-md p-2 bg-neutral-100 bg-opacity-10 backdrop-filter backdrop-blur-lg flex justify-center items-center;
  }

  /* clients section */
  .client-container {
    @apply grid md:grid-cols-2 grid-cols-1 gap-5 mt-12;
  }

  .client-review {
    @apply rounded-lg md:p-10 p-5 col-span-1 bg-black-300 bg-opacity-50;
  }

  .client-content {
    @apply flex lg:flex-row flex-col justify-between lg:items-center items-start gap-5 mt-7;
  }

  /*  work experience section */
  .work-container {
    @apply grid lg:grid-cols-3 grid-cols-1 gap-5 mt-12;
  }

  .work-canvas {
    @apply col-span-1 rounded-lg bg-black-200 border border-black-300;
  }

  .work-content {
    @apply col-span-2 rounded-lg bg-black-200 border border-black-300;
  }

  .work-content_container {
    @apply grid grid-cols-[auto_1fr] items-start gap-5  transition-all ease-in-out duration-500 cursor-pointer hover:bg-black-300 rounded-lg sm:px-5 px-2.5;
  }

  .work-content_logo {
    @apply rounded-3xl w-16 h-16 p-2 bg-black-600;
  }

  .work-content_bar {
    @apply flex-1 w-0.5 mt-4 h-full bg-black-300 group-hover:bg-black-500 group-last:hidden;
  }

  /* projects section */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .project-card {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;

    &::before {
      content: "";
      position: absolute;
      top: -200%;
      left: -200%;
      width: 400%;
      height: 400%;
      background-image: conic-gradient(
        from 90deg at 50% 50%,
        var(--theme-color-1) 0,
        var(--theme-color-2) 50%,
        var(--theme-color-3) 100%
      );

      animation: spin 6s linear infinite;
    }
    & > div {
      border-radius: 1rem;
      width: calc(100% - 3px);
      height: calc(100% - 3px);
      margin: 1.5px !important;
      background-color: rgba(14, 14, 16);
    }
  }

  /* contact section */
  .contact-container {
    @apply max-w-xl relative z-10 sm:px-10 px-5 mt-12;
  }

  .field-label {
    @apply text-lg text-white-600;
  }

  .field-input {
    @apply w-full bg-black-300 px-5 py-2 min-h-14 rounded-lg placeholder:text-white-500 text-lg text-white-800 shadow-black-200 shadow-2xl focus:outline-none;
  }

  .field-btn {
    @apply bg-black-500 px-5 py-2 min-h-12 rounded-lg shadow-black-200 shadow-2xl flex justify-center items-center text-lg text-white gap-3;
  }

  .field-btn_arrow {
    @apply w-2.5 h-2.5 object-contain invert brightness-0;
  }

  /*  footer */
  .social-icon {
    @apply w-12 h-12 rounded-full flex justify-center items-center bg-black-300 border border-black-200;
  }
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.arrow-gradient {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.025) 100%
  );
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

header {
  .logo {
    text-align: center;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.25);
    font-family: "General Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 21.6px */
    background: linear-gradient(
      0deg,
      rgba(190, 193, 207, 0.64) 0%,
      rgba(213, 216, 234, 0.89) 49.26%,
      #dfe2f5 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    g {
      transition: all 0.15s ease-in-out;
      fill: rgb(163 163 163 / var(--tw-text-opacity, 1));
    }
    &:hover {
      g {
        fill: rgb(255 255 255 / var(--tw-text-opacity, 1));
      }
    }
  }
}
